@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome</h1>
    <div>
        Presenting an accessible version of codenames.
    </div>
    <div>
        Please choose a version of the game to create
    </div>
</div>

<div class="container">
    <div class="row card-deck">
        <div class="border-primary col-md-6 card text-center">
            <div class="card-body">
                <h3 class="card-title">Normal Game</h3>
                <div class="card-text">
                    The regular game of codenames, with a normal set of words
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("13 cards", "Create", "Game", new { id = "normal", numOfCards = 13 }, new { @class = "btn btn-primary card-link", title = "Create a normal game with 13 cards" })
                @Html.ActionLink("25 cards", "Create", "Game", new { id = "normal", numOfCards = 25 }, new { @class = "btn btn-primary card-link", title = "Create a normal game with 25 cards" })
            </div>
        </div>

        <div class="border-primary col-md-6 card text-center">
            <div class="card-body">
                <h3 class="card-title">Adult Game</h3>
                <div class="card-text">
                    Based on Codenames: Deep Undercover, features very adult themes. You have been warned.
                </div>
            </div>
            <div class="card-footer">
                @Html.ActionLink("13 cards (UK)", "Create", "Game", new { id = "adult_uk", numOfCards = 13 }, new { @class = "btn btn-primary card-link", title = "Create an adult game with 13 cards" })
                @Html.ActionLink("25 cards (UK)", "Create", "Game", new { id = "adult_uk", numOfCards = 25 }, new { @class = "btn btn-primary card-link", title = "Create an adult game with 25 cards" })
                @Html.ActionLink("13 cards (US)", "Create", "Game", new { id = "adult_us", numOfCards = 13 }, new { @class = "btn btn-primary card-link", title = "Create an adult game with 13 cards" })
                @Html.ActionLink("25 cards (US)", "Create", "Game", new { id = "adult_us", numOfCards = 25 }, new { @class = "btn btn-primary card-link", title = "Create an adult game with 25 cards" })
            </div>
        </div>
    </div>
</div>